.tabs {
    width: 100%;
    display: flex;
    background-color: #130F3B
}
.tabs span {
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.tabs span:hover {
    background-color: rgb(44, 36, 129);
    color: white;
}
.selected {
    border: 3px solid #FF00CB;
    border-style: none none solid none
}
.audio-icon {
    color: #6D4FEB;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
.container {
    max-height: 90vh;
    /* overflow: hidden; */
}
.searchResult {
    padding: 20px;
    height: 75.7vh;
    overflow: auto;
}
.noResultFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
ul {
    list-style-type: none;
    padding: 0px 10px 10px 0px;
    font-weight: 100;
}
ol {
    padding: 0px 10px 10px 20px;
    font-weight: 900;
}
li {
    margin: 10px 0px;
    padding: 0px 20px;
}
.innerList {
    padding: 0px 10px 10px 40px;
}